//Font Url
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font_poppins: "Poppins", sans-serif;
$font_inter: "Inter", sans-serif;

$black_color: #212528;
$dark_blue_color: #717ae0;
$light_blue_color: #6f77f1;
$light_yellow_color: #f7c745;
$dark_yellow_color: #fad725;
$very_light_grey_color: #fafafa;
$medium_grey_color: #727272;
$deep_grey_color: #828282;
$white_color: #fff;
$nav_creative_team_plus_bg_color: #dcddff;
$logo_dot_color: #bc424e;
$optimise_circle_1_bg_color: #f9ebf0;
$optimise_circle_2_bg_color: #ebf9f3;
$optimise_circle_3_bg_color: #ebf8fe;
$optimise_circle_4_bg_color: #f2f3fa;
$optimise_card_bg_numbre_color: #fafaff;
$optimise_bg_circle_color: #f5fdff;
$blog_card_icon1_bg_color: #ffe8df;
$blog_card_icon2_bg_color: #e3ffdf;
$blog_card_icon3_bg_color: #fff8df;
$aboutus_numbers_description_color: #6f6f6f;
$aboutus_number_red_dot_color: #d1563b;
$aboutus_number_green_dot_color: #3bd165;
$aboutus_card1_bg_color: #f9e4dc;
$aboutus_card2_bg_color: #d6f0d2;
$aboutus_card3_bg_color: #fef5d4;
$aboutus_numbers_border_color: #e1e1e1;
$checkspeed_input_bg_color: #dfdfdf;
$checkspeed_input_text_color: #b6b6b6;
$members_card_border_color: #efefef;
$members_card_description_color: #a3a2a2;
$contact_border_color: #300808;
$contact_description_color: #909090;
$contact_input_border_color: #d0c3c9;
$copyright_border_color: #eae5e5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $font_poppins;
  user-select: none;
  transition: all 0.2s ease;
}
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@mixin setBackground($url) {
  background: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin sectionDescriptionFontSmall {
  font-size: min(4.5vw, 0.93rem);
}
@mixin sectionDescriptionFontLarge {
  font-size: min(4.5vw, 0.93rem);
}
@mixin logoDot {
  transform: translateY(-20%);
  right: -10px;
  height: 8px;
  width: 8px;
  border: 1px solid $black_color;
  background: $logo_dot_color;
}
.font20 {
  font-size: min(2.8vw, 1rem) !important;
  @media (min-width: 768px) {
    font-size: min(1.6vw, 0.8rem) !important;
  }

  @media (min-width: 992px) {
    font-size: min(1.8vw, 0.8rem) !important;
  }
}
.font17 {
  font-size: min(2.8vw, 0.9rem) !important;
  @media (min-width: 768px) {
    font-size: min(1.5vw, 0.7rem) !important;
  }
  @media (min-width: 992px) {
    font-size: min(1.75vw, 0.75rem) !important;
  }
}
.font20Medium {
  font-size: min(4.5vw, 0.93rem) !important;
}
.font17Medium {
  font-size: min(4.5vw, 0.93rem) !important;
}
// Nav
nav {
  height: 4rem;
  div {
    min-width: unset;
    .navbar-brand {
      span {
        @include logoDot();
      }
    }
    #navbarSupportedContent {
      z-index: 2;
      backdrop-filter: blur(100px);
      ul li span {
        display: none;
      }
      .nav-buttons {
        height: 2.5rem;
        .btn-talk {
          border: 2px solid $black_color !important;
        }
        .btn-search {
          background: $dark_yellow_color;
          aspect-ratio: 1/1;
          img {
            height: 100%;
          }
        }
      }
    }
  }
}
// Hero

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotatePlus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#hero {
  > .row {
    .hero-image {
      order: 1;
      aspect-ratio: 1/1;
      .hero-creative-team-card {
        width: 80%;
        max-width: 17rem;
        aspect-ratio: 7/3;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
        border-radius: 2px;
        backdrop-filter: blur(20px);
        h2 {
          color: $black_color;
          font-family: $font_inter;
        }
        .creative-team {
          .creative-team-member {
            aspect-ratio: 1/1;
            .team-member-image-container {
              width: 130%;
              height: 130%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
            }
            &:nth-child(1) .team-member-image-container {
              @include setBackground("./images/hero/hero_member_1.svg");
            }
            &:nth-child(2) .team-member-image-container {
              @include setBackground("./images/hero/hero_member_2.svg");
            }
            &:nth-child(3) .team-member-image-container {
              @include setBackground("./images/hero/hero_member_3.svg");
            }
            &:nth-child(4) .team-member-image-container {
              @include setBackground("./images/hero/hero_member_4.svg");
            }
            &:nth-child(5) .team-member-image-container {
              background: $nav_creative_team_plus_bg_color;
              border: 0.79px dashed $light_blue_color;

              animation: rotateAnimation 10s linear infinite;
              &:hover {
                cursor: pointer;
              }
              img {
                animation: rotatePlus 10s linear infinite;
                height: 50%;
                width: 50%;
              }
            }
          }
        }
      }
    }
    .hero-content {
      order: 2;
      h1 {
        font-size: min(7vw, 2.5rem);
        color: $black_color;
        font-family: $font_inter;
        > span {
          font-family: $font_poppins;
          font-size: min(5vw, 1.8rem);
          right: -2%;
          color: $light_blue_color;
          transform: rotate(-8.23deg);
          border: 2px solid $light_blue_color;
          span {
            height: 7px;
            width: 7px;
            background: $light_blue_color;
            position: absolute;
            &:nth-of-type(1) {
              top: -13%;
              left: -5%;
            }
            &:nth-of-type(2) {
              top: -13%;
              right: -5%;
            }
            &:nth-of-type(3) {
              bottom: -13%;
              right: -5%;
            }
            &:nth-of-type(4) {
              bottom: -13%;
              left: -5%;
            }
          }
        }
      }
      p {
        color: $medium_grey_color;
        font-size: min(3.3vw, 1.1rem);
      }
      .hero-button-group {
        button {
          background: $dark_yellow_color;
          color: $black_color;
          border-radius: 3px;
        }
        a {
          span {
            color: $black_color;
          }
          img:last-child {
            right: -17%;
          }
        }
      }
    }
  }
}

// Projects
#projects {
  .project-card {
    aspect-ratio: 13/8;
    max-width: 27rem;
    .project-card-body {
      border-radius: 3px;
      &:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
      }
      .project-card-image {
        aspect-ratio: 1/1;
      }
      h3 {
        color: $black_color;
        font-size: min(6vw, 2rem);
      }
      .project-card-description {
        color: $deep_grey_color;
        font-size: min(3.2vw, 1rem);
      }
      a {
        width: 4.5%;
        aspect-ratio: 1/1;
        margin-right: 5%;
      }
    }
  }
}

// Optimise
#optimise {
  .bg-circle {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    background: $optimise_bg_circle_color;
  }
  .optimise-heading {
    color: $black_color;
    span {
      color: $light_blue_color;
    }
  }
  .optimise-description {
    font-size: min(4.5vw, 0.93rem);
    color: $medium_grey_color;
  }
  .optimise-card-container {
    .optimise-card {
      aspect-ratio: 20/21;
      max-width: 22rem;
      .optimise-card-body {
        border-bottom: 4px solid transparent !important;
        &:hover {
          border-bottom: 4px solid $dark_blue_color !important;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
          cursor: default;
          background: #fff;
        }
        .bg-text {
          font-size: min(60vw, 15rem);
          color: $optimise_card_bg_numbre_color;
          right: 10%;
          top: 40%;
          transform: translateY(-50%);
          user-select: none;
        }
        .image-circle {
          z-index: 2;
          width: 35%;
          border-radius: 50%;
          aspect-ratio: 1/1;
          background: $optimise_circle_1_bg_color;
          img {
            width: 85%;
            bottom: 20%;
            right: 13%;
          }
        }
        .optimise-card-text {
          z-index: 2;
          .optimise-card-heading {
            color: $black_color;
          }
          .optimise-card-description {
            color: $deep_grey_color;
            font-size: min(4vw, 0.9rem);
          }
        }
      }

      &:nth-of-type(2) .optimise-card-body .image-circle {
        background: $optimise_circle_2_bg_color;
      }
      &:nth-of-type(3) .optimise-card-body .image-circle {
        background: $optimise_circle_3_bg_color;
      }
      &:nth-of-type(4) .optimise-card-body .image-circle {
        background: $optimise_circle_4_bg_color;
      }
    }
  }
}

// Solution
#solution {
  .solution-content {
    order: 2;
    .solution-content-heading {
      color: $black_color;
      span {
        color: $light_blue_color;
      }
    }
    .solution-content-description {
      color: $deep_grey_color;
      @include sectionDescriptionFontSmall();
    }
    .btn-learn-more {
      width: fit-content;
      background: $dark_yellow_color;
      color: $black_color;
      border-radius: 3px;
    }
  }
  .solution-image {
    order: 1;
  }
}

// Blog
#blog {
  .blog-card {
    aspect-ratio: 7/5;
    max-width: 22rem;
    .blog-card-body {
      border-radius: 3px;
      &:hover {
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
      }
      .blog-card-image {
        width: fit-content;
        border-radius: 25%;
        background: $blog_card_icon1_bg_color;
      }
      .blog-card-heading {
        color: $black_color;
      }
      .blog-card-description {
        font-size: min(3.3vw, 0.82rem);
        color: $deep_grey_color;
      }
      a {
        font-size: min(3.2vw, 0.8rem);
        color: $light_blue_color;
      }
    }
    &:nth-of-type(2) {
      .blog-card-image {
        background: $blog_card_icon2_bg_color !important;
      }
    }
    &:nth-of-type(3) {
      .blog-card-image {
        background: $blog_card_icon3_bg_color !important;
      }
    }
  }
}

// Why We
#whywe {
  background: $very_light_grey_color;
  .whywe-heading {
    color: $black_color;
    span {
      color: $light_blue_color;
    }
  }
  .whywe-description {
    color: $deep_grey_color;
    @include sectionDescriptionFontSmall();
  }
  .whywe-card-container {
    .whywe-card {
      aspect-ratio: 7/4;
      .whywe-card-body {
        background: #fff;
        border-radius: 5px;
        &:hover {
          box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
        }
        .whywe-card-image {
        }
        .whywe-card-content {
          h6 {
            font-size: min(4.5vw, 1.5rem);
            color: $black_color;
          }
          p {
            font-size: min(3vw, 1rem);
            color: $deep_grey_color;
          }
          button {
            width: fit-content;
            color: $black_color;
            background: $dark_yellow_color;
            font-size: min(3vw, 0.85rem);
            border-radius: 4%;
          }
        }
      }
    }
  }
}

// About Us
#about {
  .about-content {
    .about-content-heading {
      color: $black_color;
      span {
        color: $light_blue_color;
      }
    }
    .about-content-description {
      color: $deep_grey_color;
      @include sectionDescriptionFontSmall();
    }
    .about-content-card-container {
      .about-card {
        aspect-ratio: 2/1;
        max-width: 22rem;
        .about-card-body {
          border-radius: 3px;
          .about-card-image {
            .image-container {
              aspect-ratio: 1/1;
              border-radius: 50%;
              background: $aboutus_card1_bg_color;
              img {
                width: 50%;
                aspect-ratio: 1/1;
              }
            }
          }
          .about-card-content {
            h5 {
              color: $black_color;
              font-size: min(5vw, 1.1rem);
            }
            p {
              color: $deep_grey_color;
              font-size: min(3.6vw, 0.8rem);
            }
          }
          &:hover {
            border: none;
            box-shadow: 5px 25px 37px 0 rgba($color: #021605, $alpha: 0.06);
          }
        }
        @media (min-width: 576px) {
          height: 7rem;
          max-width: 100%;
          .about-card-image .image-container {
            height: 70%;
            width: unset !important;
            aspect-ratio: 1/1;
          }
          .about-card-content {
            h5 {
              font-size: 1rem;
            }
            p {
              font-size: 0.7rem;
            }
          }
        }

        &:nth-of-type(2) .image-container {
          background: $aboutus_card2_bg_color !important;
        }
        &:nth-of-type(3) .image-container {
          background: $aboutus_card3_bg_color !important;
        }
      }
    }
  }
  .achivements-container {
    border-collapse: collapse;
    .numbers {
      aspect-ratio: 1/1;
      .numbers-body {
        border: 2px solid $aboutus_numbers_border_color;
        h2 {
          color: $deep_grey_color;
          font-size: min(10vw);
        }
        p {
          color: $aboutus_numbers_description_color;
          font-size: min(2.2vw);
        }
      }
    }
  }
}

// Check Speed
#checkspeed {
  .checkspeed-content {
    order: 2;
    .checkspeed-heading {
      color: $black_color;
      span {
        color: $light_blue_color;
      }
    }
    .checkspeed-description {
      color: $deep_grey_color;
      font-size: min(4.5vw, 0.93rem);
    }
    form {
      max-width: 25rem;
      .input-div input {
        border-radius: 4px;
        color: $checkspeed_input_text_color;
        background: $checkspeed_input_bg_color;
        font-size: min(3.6vw, 0.9rem);
        border: none;
      }

      button {
        font-size: min(3.2vw, 0.8rem);
        border: none;
        background: $dark_yellow_color;
        color: $black_color;
        border-radius: 4px;
      }
    }
  }
  .checkspeed-image {
    order: 1;
  }
}

// Pricing
#pricing {
  background: $very_light_grey_color;
  .pricing-heading {
    color: $black_color;
  }
  .pricing-description {
    color: $deep_grey_color;
    font-size: min(4.5vw, 0.93rem);
  }
  .pricing-card-container {
    .pricing-card {
      max-width: 25rem;
      aspect-ratio: 9/7;
      .pricing-card-body {
        img {
          display: none;
        }
        border-radius: 4px;
        background: #fff;
        transition: all 0.2s ease;
        .pricing-category {
          z-index: 2;
          font-size: min(3.7vw, 1.1rem);
          color: $light_blue_color;
        }
        .price {
          z-index: 2;
          color: $black_color;
          font-size: min(9vw, 3.5rem);
          sub,
          sup {
            font-size: min(3.5vw, 0.9rem);
          }
        }
        .services {
          z-index: 2;
          font-size: min(3.5vw, 0.9rem);
          color: $deep_grey_color;
        }
        button {
          z-index: 2;
          border: 1px solid $black_color;
          background: transparent;
          border-radius: 2px;
          font-size: min(3.5vw, 0.9rem);
          color: $black_color;
        }
        &:hover {
          transform: scale(1.06);
          background-size: cover;
          background-position: center;
          .pricing-category,
          .price,
          .services {
            color: #fff !important;
          }
          button {
            background: transparent;
            color: #fff;
            border: 1px solid #fff;
            &:hover {
              color: $black_color;
              border: 1px solid $dark_yellow_color;
              background: $dark_yellow_color;
            }
          }
          img {
            display: block;
          }
        }
      }
    }
  }
}

// Contact Us
#contact {
  .contact-container {
    .contact-heading {
      color: $black_color;
    }
    .contact-description {
      color: $contact_description_color;
      font-size: min(4.5vw, 0.93rem);
    }
    form {
      max-width: 25rem;
      input {
        border: 1px solid $contact_input_border_color;
        color: $medium_grey_color;
      }
      input,
      button {
        font-size: min(4.5vw, 0.9rem);
        border-radius: 3px;
      }
      button {
        border: none;
        background: $light_blue_color;
        color: #fff;
      }
    }
  }
}

// Members
#members {
  .members-heading {
    color: $black_color;
    span {
      color: $light_blue_color;
    }
  }
  .members-description {
    color: $deep_grey_color;
    @include sectionDescriptionFontSmall();
  }
  .members-card-container {
    .members-card {
      aspect-ratio: 7/4;
      max-width: 25rem;
      .members-card-body {
        border: 1px solid $members_card_border_color;

        &:hover {
          border: none;
          box-shadow: 0 34px 50px -17px #021605;
          .members-card-content .members-card-heading {
            color: $light_blue_color;
          }
        }
        .members-card-image-container {
          .members-card-image {
            aspect-ratio: 1/1;
            border-radius: 50%;
          }
        }
        .members-card-content {
          .members-card-heading {
            color: $black_color;
            font-size: min(7vw, 1.5rem);
          }
          .members-card-description {
            color: $members_card_description_color;
            font-size: min(3.5vw, 0.75rem);
          }
          .icons-container {
            height: 12%;
            a {
              &:hover svg path {
                fill: $light_blue_color;
              }
            }
          }
        }
      }
    }
  }
}

// Client
#clients {
  .clients-heading {
    color: $black_color;
  }
  .clients-description {
    @include sectionDescriptionFontSmall();
  }
  .carausel-container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .carausel-card {
      width: 100%;
      aspect-ratio: 6/7;
      display: inline-block;
      max-width: 18rem;
      border: 1px solid $members_card_border_color;
      .icon-container {
        left: 5%;
        top: 5%;
        z-index: 1;
      }
      > :not(.icon-container) {
        position: relative;
        z-index: 2;
        white-space: wrap;
      }
      .carausel-card-description {
        color: $deep_grey_color;
        @include sectionDescriptionFontSmall();
      }
      .card-content {
        .image-container {
          aspect-ratio: 1/1;
          img {
            width: 100%;
          }
        }
        span:first-of-type {
          color: $black_color;
          @include sectionDescriptionFontSmall();
        }
        span:last-of-type {
          color: $deep_grey_color;
          @include sectionDescriptionFontSmall();
        }
      }
      &:hover {
        border: none;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
      }
    }
  }
  .carausel-navigation {
    span {
      border: none;
      background: #e9e9e9;
      &:nth-child(2) {
        border: none;
        transform: scale(1.5);
        background: $light_blue_color;
        box-shadow: none;
      }
    }
  }
}

footer {
  .navbar-brand span {
    @include logoDot();
  }
  hr {
    background: $copyright_border_color;
  }
  .footer-links-container {
    max-width: 22rem;
    a {
      color: $black_color;
      font-size: min(4vw, 0.9rem);
      &:hover {
        color: $light_blue_color;
      }
    }
    @media (min-width: 576px) {
      max-width: unset;
    }
  }
  .copyright-container {
    span,
    .copyright-links-container a {
      font-size: min(3vw, 11px);
      color: $deep_grey_color;
    }
  }
}

// Media Queries
@media (min-width: 576px) {
  #members {
    .members-card-container {
      .members-card {
        max-width: unset;
        aspect-ratio: 6/7;
        .members-card-body {
          .members-card-image-container {
            height: 50%;
            .members-card-image {
              width: unset !important;
              height: 100%;
              background: #000;
            }
          }
          .members-card-content {
            height: 50%;
            .members-card-heading {
              font-size: min(3vw, 1.1rem) !important;
            }
            .members-card-description {
              font-size: min(2vw, 0.75rem) !important;
            }
            .icons-container {
              height: 22% !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #hero {
    > .row {
      .hero-image {
        order: unset;
        .hero-creative-team-card {
          h2 {
            font-size: 0.6rem !important;
          }
          width: 40%;
          max-width: 10rem;
          position: absolute;
          bottom: 3%;
          left: -13%;
        }
      }
      .hero-content {
        order: unset;
        h1 {
          font-size: min(4vw, 1.9rem);
          span {
            font-size: min(2.5vw, 1.3rem);
          }
        }
        p {
          font-size: min(1.8vw, 0.76rem);
        }
      }
    }
  }
  #projects {
    .project-card {
      .project-card-body {
        h3 {
          font-size: min(2vw, 1rem);
        }
        .project-card-description {
          font-size: min(3.2vw, 0.54rem);
        }
      }
    }
  }
  #solution {
    .solution-content {
      order: unset;
      .solution-content-description {
        font-size: min(4vw, 0.65rem);
      }
      .btn-learn-more {
        font-size: min(3.5vw, 0.6rem);
      }
    }
    .solution-image {
      order: unset;
    }
  }
  #blog {
    .blog-card {
      aspect-ratio: 7/8;
      .blog-card-body {
        .blog-card-description {
          font-size: min(1.5vw, 0.7rem);
        }
        a {
          font-size: min(1.4vw, 0.65rem);
        }
      }
    }
  }
  #whywe {
    .whywe-card-container {
      .whywe-card {
        aspect-ratio: 2/3;
        .whywe-card-body {
          .whywe-card-image {
            height: 50%;
            overflow: hidden;
            img {
              object-fit: cover;
              object-position: center;
            }
          }
          .whywe-card-content {
            height: 50%;
            h6 {
              font-size: min(2.5vw, 1.2rem);
            }
            p {
              font-size: min(1.5vw, 0.71rem);
            }
            button {
              font-size: min(3vw, 0.85rem);
              border-radius: 4%;
            }
          }
        }
      }
    }
  }
  #about {
    .about-content {
      .about-content-heading {
        font-size: min(3vw, 1.5rem);
      }
      .about-content-description {
        font-size: min(1.8vw, 0.85rem);
      }
      .about-content-card-container {
        .about-card {
          aspect-ratio: 7/3;
          height: unset !important;
          max-width: unset !important;
          .about-card-body {
            border: none;
            .about-card-image {
              .image-container {
                height: unset !important;
                width: 100% !important;
              }
            }
            .about-card-content {
              h5 {
                font-size: 1rem;
              }
              p {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
    .achivements-container {
      border: 1px solid $aboutus_numbers_border_color;
      .numbers {
        aspect-ratio: 1/1;
        .numbers-body {
          border: none;
          h2 {
            font-size: min(8vw, 3rem);
          }
          p {
            font-size: min(1.2vw, 0.7rem);
          }
        }
      }
      span {
        .circle {
          height: 13px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background: $aboutus_number_red_dot_color;
        }
        &:nth-of-type(2) .circle {
          background: $aboutus_number_green_dot_color;
        }
        &:nth-of-type(3) .circle {
          background: $light_yellow_color;
        }
      }
    }
  }
  #checkspeed {
    .checkspeed-content {
      order: unset;
      .checkspeed-description {
        font-size: min(1.8vw, 0.85rem);
      }
      form {
        max-width: 100%;
        .input-div {
          overflow: hidden;
          input {
            border-right: 0.1px solid $checkspeed_input_text_color;
            border-radius: 4px 0 0 4px;
            &:last-of-type {
              border-right: none;
              border-left: 0.1px solid $checkspeed_input_text_color;
              border-radius: 0 4px 4px 0;
            }
          }
        }
      }
    }
    .checkspeed-image {
      order: unset;
    }
  }
  #contact {
    .contact-container {
      width: 90%;
      border: 1px solid $contact_border_color;
      background: $very_light_grey_color;
      border-radius: 10px;
      padding: 2rem;

      .contact-description {
        font-size: min(4vw, 0.9rem);
      }
      form {
        max-width: unset;
        input {
          flex-grow: 1 !important;
          max-width: 38% !important;
        }
        input,
        button {
          font-size: min(2vw, 1rem);
        }
        button {
          width: 20% !important;
          max-width: 10rem !important;
        }
      }
    }
  }
  .copyright-container {
    span,
    .copyright-links-container a {
      font-size: 11px;
    }
  }
}
@media (min-width: 992px) {
  nav div {
    height: 100%;
    #navbarSupportedContent {
      flex-grow: unset !important;
      width: 80%;
      min-width: 740px;
      ul li:hover {
        span {
          height: 2px;
          bottom: 0.2rem;
          background: $light_blue_color;
          &:first-of-type {
            width: 55%;
            left: 11%;
          }
          &:last-of-type {
            width: 16%;
            right: 11%;
          }
        }
      }

      form {
        width: 12rem;
        height: 100%;
        button img {
          height: unset;
        }
      }
    }
  }
  #hero {
    .row {
      .hero-image {
        padding: 1rem 0;
        img {
          width: unset !important;
          max-height: 100%;
        }
        .hero-creative-team-card {
          bottom: 10%;
          left: -3%;
        }
      }
      .hero-content {
        h1 {
          font-size: 3.5vw;
          span {
            font-size: min(2.6vw, 2rem);
          }
        }
        p {
          font-size: min(1.8vw, 1rem);
        }
      }
      .hero-button-group {
        button,
        a span {
          font-size: min(1.8vw, 0.8rem);
        }
      }
    }
  }
  #projects {
    .project-card {
      .project-card-body {
        h3 {
          font-size: min(2vw, 1.7rem);
        }
        .project-card-description {
          font-size: min(1vw, 0.9rem);
        }
      }
    }
  }
  #optimise {
    .optimise-description {
      font-size: min(4.5vw, 0.93rem);
    }
    .optimise-card-container {
      .optimise-card {
        aspect-ratio: 5/6;
        .optimise-card-body {
          .bg-text {
            font-size: min(18vw, 15rem);
          }

          .optimise-card-text {
            .optimise-card-heading {
              font-size: min(1.3vw, 1.1rem);
            }
            .optimise-card-description {
              font-size: min(0.95vw, 0.9rem);
            }
          }
        }
      }
    }
  }
  #solution {
    .solution-content {
      .solution-content-description {
        @include sectionDescriptionFontLarge();
      }
      .btn-learn-more {
        font-size: min(1.4vw, 0.8rem);
      }
    }
  }
  #blog {
    .blog-card {
      aspect-ratio: 9/7;
      .blog-card-body {
        .blog-card-description {
          font-size: min(3.3vw, 0.82rem);
        }
        a {
          font-size: min(3.2vw, 0.8rem);
        }
      }
    }
  }
  #whywe {
    .whywe-card-container {
      .whywe-card {
        aspect-ratio: 5/7;
        .whywe-card-body {
          .whywe-card-image {
            height: 60%;
          }
          .whywe-card-content {
            height: 40%;
            h6 {
              font-size: min(2.2vw, 1.6rem);
            }
            p {
              font-size: min(1.4vw, 0.9rem);
            }
            button {
              font-size: min(1.4vw, 0.85rem);
            }
          }
        }
      }
    }
  }
  #about {
    .about-content {
      .about-content-heading {
        font-size: min(3.2vw, 2.1rem);
      }
      .about-content-description {
        @include sectionDescriptionFontLarge();
      }
      .about-content-card-container {
        .about-card {
          aspect-ratio: 4/1;
          .about-card-body {
            .about-card-content {
              h5 {
                font-size: min(1.5vw, 1.7rem);
              }
              p {
                font-size: min(1.1vw, 1.1rem);
              }
            }
          }
        }
      }
    }
  }
  #checkspeed .checkspeed-content .checkspeed-description {
    font-size: min(4.5vw, 0.93rem);
  }
  #pricing {
    background: $very_light_grey_color;
    .pricing-heading {
      color: $black_color;
    }
    .pricing-description {
      color: $deep_grey_color;
      font-size: min(4.5vw, 0.93rem);
    }
    .pricing-card-container {
      margin-top: 3rem;
      .pricing-card {
        width: 30% !important;
        aspect-ratio: 5/7;
        .pricing-card-body {
          .pricing-category {
            font-size: min(2vw, 1.2rem);
          }
          .price {
            margin-top: 1.5rem;
            font-size: min(6vw, 3.5rem);
            sub,
            sup {
              font-size: min(1.5vw, 1rem);
            }
          }
          .services {
            font-size: min(1.5vw, 1rem);
            &:first-of-type {
              margin-top: 1.5rem;
            }
            &:last-of-type {
              margin-bottom: 1.5rem;
            }
          }
          button {
            font-size: min(1.5vw, 1rem);
          }
          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }
  #contact {
    .contact-container {
      padding: 5rem;

      .contact-description {
        font-size: min(4.5vw, 0.93rem);
      }
      form {
        input {
          max-width: 39% !important;
        }
        input,
        button {
          font-size: min(2vw, 1.1rem);
        }
      }
    }
  }
  .copyright-container {
    span,
    .copyright-links-container a {
      font-size: 13px;
    }
  }
  #clients {
    .clients-heading {
      color: $black_color;
    }
    .clients-description {
      @include sectionDescriptionFontLarge();
    }
    .carausel-container {
      .carausel-card {
        width: 25rem;
        aspect-ratio: 2/1;
        max-width: unset;
        .icon-container {
          height: 38%;
          img {
            height: 100%;
          }
        }
        .carausel-card-description {
          width: 100%;
          white-space: wrap;
          font-size: 0.8rem;
        }
        .card-content {
          .image-container {
            width: unset !important;
            height: 40%;
            aspect-ratio: 1/1;
            img {
              height: 100%;
            }
          }
          span:first-of-type {
            font-size: 0.7rem;
          }
          span:last-of-type {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
